.vscode/
assets/fonts/*.ttf
.DS_Store
*.bak
.idea/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*.tmp
*.swp
*.swo
.env
.env.*
assets/images/avatar.jpg