<div class="footer-content">
    <div class="copyright">
        <p data-lang="zh">最后更新于 2026 年 8 月 24 日</p>
        <p data-lang="en" style="display: none;">Last Updated: 24 August 2026</p>
        <p>
            <span data-lang="zh">&copy; 2026 itpyi. 托管于</span>
            <span data-lang="en" style="display: none;">&copy; 2026 itpyi. Hosted on</span>
            <a href="https://pages.github.com" style="color: #ffcc00; text-decoration: underline;">GitHub Pages</a>.
        </p>
    </div>
</div>
